.logo img {
    max-height: 62px !important;
    width: 150px;
    margin-top: 10px;
}
.cauro{
	height:310px !important;
}

.banner{
	float: left;
	width: 100%;
	background-size: cover;
}
.padding{
margin:0;
padding:0;

width:250px
height:5px;
}

.yimg{
	background-image: url(../images/hel.jpg);
	width: 100%;
	float:left;
	height:400px;
  background-repeat: no-repeat;
  background-position: center;
}
.fimg{
	height:200px;
	width:50%;
	float:left;
}
.item1 img{
    width: 100%;
    float: left;
	height:10px;
}
.item1{
	 width: 100%;
    float: left;
	height:430px;
}
.serv{
	padding:50px;
}

.bg p b{
	color:#fff !important;
}
.bg li a{
	color:#fff !important;
}
.aboutphoto{
	    left: 179px;
    bottom: 0px;
}

.ul ol{
    list-style: none;
    margin: 25px;
    padding: 0;
}

.vertical-job-card {
	width: 50%
}

.job-verticle-list {
	display: block;
	text-align:center;
	
	width: 100%;
	margin-bottom: 30px;
	background: #fff;
	overflow: hidden;
	position: relative;
	border-radius: 40px 8px;
	padding: 0 0;
	box-shadow: 0 5px 25px 0 rgba(41, 128, 185, .15);
	-webkit-box-shadow: 0 5px 25px 0 rgba(41, 128, 185, .15)
}
.ourimgs{
	border-radius: 50%;
}


.bgclr{
	background-color:#f74343;
	
}
.bgimg{
	height:40px;
	width:450px;
	float:right;
	position: absolute;
  bottom: 100px;
  right: 200px;
}
.fs{
	position: absolute;
	background-color:#f3afaf;
	border-radius: 50px 40px;
}
.fm{
	    width: 273px!important;
    border-radius:85px!important;
}
.fmad{
	width:273px!important;
	border-radius: 50px ;
}

	

